body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* top header start hear */

.head-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.flex-area {
    display: flex;
}

.half-width {
    padding-left: 2%;
    width: 50%;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.para-style {
    text-align: justify;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, orange, salmon);
}

.half-width img {
    width: 80%;
}


/* top header ends hear */


/* dream area start hare */

.dream-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


/* dream area end hare  */


/* experience area start hare */

.experience-area {
    text-align: center;
}

.box-area {
    margin: 0 auto;
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    padding: 5px 15px;
    border-radius: 10px;
}

.box {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#left-mar {
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#right-mar {
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}


/* experience area ends hare */


/* footer area start here */

.footer-area p {
    text-align: center;
    margin-top: 50px;
}


/* footer area ends here */